{% extends 'systemtemplate.html' %}

{% block content %}
    <h1 style="margin: 20px 30px">编辑车辆分配信息</h1>
    <form class="form-horizontal" style="margin-top: 50px;" method="post">
    {% csrf_token %}
    {% for filed in supplies_forms %}
        <div class="form-group">
            <label for="{{ filed.id_for_label }}" class="col-sm-2 control-label">{{ filed.label }}</label>
            <div class="col-sm-6">
                {{ filed }}
            </div>

        </div>

    {% endfor %}
    <button class="btn btn-success" style="float: right; margin-right: 40rem">提交信息</button>

    </form>
    <a href="{% url 'trucks' %}"><button class="btn btn-danger" style="float: right; margin-right: 2rem">查看车辆信息</button></a>



{% endblock content %}