{% extends 'systemtemplate.html' %}

{% block content %}
    <div class="panel panel-primary" style="margin: 15rem;">
        <div class="panel-heading">请输入单价</div>
        <div class="panel-body">
            <p style="color:red; padding: 1rem; font-size: 16px">请将费用单据交予财务部门进行审核</p>
            输入完成后请点击确定
          </div>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <input type="number" name="unit" class="form-control">

            <button class="btn btn-success" style="float: right; margin-top: 2rem">确定</button>
        </form>
    </div>

{% endblock content %}