{% extends 'systemtemplate.html' %}

{% block content %}
<div style="margin: auto; padding: 3rem; width: 90rem">
    <ul>
        <li style="padding: 2rem"><b>采购部门:</b>根据供应商产品与物资需求计划，建立公司一体化采购管理体系，确保公司供应商管理与采购业务的高效运行。 2.根据经营计划、研发计划与生产计划，实施供应商规划与开发，确保合格供应商群体满足条件的物品采购与服务采购的需求。</li>
        <li style="padding: 2rem"><b>仓管部门:</b>1、负责仓库的各项日常库存管理、进出库管理工作。 2、负责货物的在库管理，督促和配合对仓库货物进行日常及月度、年度盘点，并向主管汇报。 3、协助主管分析库存管理，提高仓库最大利用率</li>
        <li style="padding: 2rem"><b>运输部门:</b>1、产品的日常运输工作； 2、车辆的日常维修维护保养工作； 3、车辆卫生及罐内积料的清理工作； 4、不断提高技术水平和业务素质，保证运输过程中车辆、人员的安全，操作规范，节约油料，节省费用，设备完好； 二、工作标准 1、服从调度分配，司机要求为无假期工作，如有特殊情况应提前一周告知公司司机领班人员，公司好安排调度工作，按时将产品运输到指定地点；
</li>
        <li style="padding: 2rem"><b>财务部门:</b>1、负责公司资金的筹措运用、资本营运、会计核算和成本核算工作。 2、负责编制并执行公司年度、月度财务收支计划。 3、负责各类经济合同的审核，按规定的程序和条件核付各类款项。
</li>
        <li style="padding: 2rem"><b>调配部门:</b>对物资进行合理调配跟进</li>
        <li style="padding: 2rem"><b>需求部门:</b>制定物资需求</li>
    </ul>
</div>
{% endblock content %}



