{% extends 'systemtemplate.html' %}

{% block content %}
    {% load static %}

    <div class=" container">
        <h2 style="margin-bottom: 1rem">调配操作</h2>
        <form class="form-inline" style="margin-top: .5rem; margin-bottom: .5rem">
          <div class="form-group">
              <select name="search_field" id="search_field" class="form-control">
                  <option value="supplies_name">物资名称</option>
                  <option value="supplies_info">供应商信息</option>
                  <option value="supplies_type">物资类型</option>
              </select>
            <label for="key-word"></label>
            <input type="text" class="form-control" id="kw" placeholder="请输入你要查询的内容" name="kw">
          </div>
          <button type="submit" class="btn btn-danger">搜索</button>
        </form>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr class="success">
                    <th>物资名称</th>
                    <th>物资价格</th>
                    <th>物资数量</th>
                    <th>供应商信息</th>
                    <th>物资类型</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

            {% for all_obj in supplies_objs %}
                <tr>
                    <td>{{ all_obj.supplies_name }}</td>
                    <td>{{ all_obj.supplies_price }}</td>
                    <td>{{ all_obj.supplies_quantity }}</td>
                    <td>{{ all_obj.supplies_info }}</td>
                    <td>{{ all_obj.supplies_type }}</td>
                    <td>
                        <a href="{% url 'view_supplies' all_obj.id %}"><button type="button" class="btn btn-danger" style="font-size: 10px">查看</button></a>
                        <a href="{% url 'deploy_info' all_obj.id %}"><button type="button" class="btn btn-primary" style="font-size: 10px">调配</button></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {{ page_html }}
    </div>

{% endblock content %}