{% extends 'systemtemplate.html' %}

{% block content %}
    {% load static %}

    <div class=" container">
        <h2 style="margin-bottom: 1rem">运输分配</h2>
        <form class="form-inline" style="margin-top: .5rem; margin-bottom: .5rem">
          <div class="form-group">
              <select name="search_field" id="search_field" class="form-control">
                  <option value="d_address">调配地区</option>
                  <option value="d_name">物资名称</option>
                  <option value="d_type">物资类型</option>
              </select>
            <label for="key-word"></label>
            <input type="text" class="form-control" id="kw" placeholder="请输入你要查询的内容" name="kw">
          </div>
          <button type="submit" class="btn btn-danger">搜索</button>
        </form>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr class="success">
                    <th>调配仓库</th>
                    <th>物资名称</th>
                    <th>调配数量</th>
                    <th>物资类型</th>
                    <th>运输状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

            {% for all_obj in supplies_objs %}
                <tr>
                    <td>{{ all_obj.ware_name }}</td>
                    <td>{{ all_obj.sup_name }}</td>
                    <td>{{ all_obj.deploy_number }}</td>
                    <td>{{ all_obj.sup_type }}</td>
                    <td>{{ all_obj.transportation_state }}</td>
                    <td>
                        <a href="{% url 'allocation_donation' all_obj.id %}"><button type="button" class="btn btn-danger">分配</button></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {{ page_html }}
    </div>

{% endblock content %}