{% extends 'systemtemplate.html' %}
{% block call %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>疫情应急物资调配管理系统</title>
      {% load static %}
    <!-- Bootstrap -->
    <script scr="{% static '/js/vue.js' %}"></script>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/indexstyle.css' %}">
    <script src="{% static 'dist/echarts.js' %}"></script>
    <style>
        #main{
            margin: auto;
            position: relative;
            transform: translateY(2rem);
        }
    </style>
{% endblock call %}
{% block content %}
    <div id="main" style="width: 1000px;height:600px;"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
      // 指定图表的配置项和数据
      var option = {
        title: {
          text: '近30次操作物资流动折线图'
        },
        tooltip: {},
        legend: {
          data: ['物资流动']
        },
        xAxis: {
          type: 'category',
          data: {{ count_list }}
        },
        yAxis: {},
        series: [
          {
            name: '物资流动',
            type: 'line',
            data: {{file_list|safe}},
            label: {
                show: true,
                position: 'bottom',
                textStyle: {
                    fontSize: 16
                }
            }
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
{% endblock content %}