{% extends 'systemtemplate.html' %}

{% block content%}
<div style="margin: auto; padding: 2rem; width: 90rem">
    <div style="font-size:20px; "><b>软件环境</b></div>
    <p>疫情应急物资调配管理系统采用的是B/S结构，MVVM的开发模式进行开发后端语言选择的是python语言编写</p>
    <p>前端采用HTML标记语言css样式语言以及JavaScript采用前后端混合开发模式进行开发。</p>
    <p>通过ORM面向对象方法操作MySQL数据库。Python版本为3.10，MySQL版本为8.0，都为该技术当下最为新的版本进行开发。</p>
    <p><b>硬件环境</b></p>
    （1）服务器配置
    本系统主要面向的用户为政府机构以及疫情相关部门，考虑到使用过程中会由大量的数据需要存储，且数据具有保密性，使用本系统应用场景应为部门内部服务器运行以及部门内部数据库进行数据存储，安全性极高。
    （2）客户端配置
   本系统采用B/S架构开发，也就是浏览器/服务器模式，该模式最大的优点在于拥有成本低、维护方便、 分布性强、开发简单，可以不用安装任何专门的软件就能实现在任何地方进行操作，只要用较为新的浏览器版本就能够完美浏览本系统，IE6以下浏览器并未考虑它的兼容，所以需要选择浏览器较新版本进行浏览操作。

</div>
{% endblock content %}